@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .list-auto {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 12px;
        padding-left: 12px;
    }
    .color-1 {
        --tw-bg-opacity: 1;
        background-color: rgb(234 88 12 / var(--tw-bg-opacity));
    }
    .color-2 {
        --tw-bg-opacity: 1;
        background-color: rgb(251 146 60 / var(--tw-bg-opacity));
    }
    .list-const {
        align-items: center;
        list-style-type: none;
        margin-top: 60px;
        margin-left: -12px;
        position: absolute;
        border-radius: 8px;
    }
    .list-div {
        display: flex;
        flex-direction: row;
        cursor: default;
    }
}